<ion-header>
  <ion-toolbar>
    <ion-title>test1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Test 1</p>
  <ion-list>
    <ion-list-header>
      <ion-label>
        information
      </ion-label>
    </ion-list-header>

    <ion-item>

      <ion-label>Name</ion-label>
      <ion-select value="Max" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="John">John</ion-select-option>
        <ion-select-option value="Eva">Eva</ion-select-option>
        <ion-select-option value="May">May</ion-select-option>
        <ion-select-option value="Max">Max</ion-select-option>
      </ion-select>

    </ion-item>

    <ion-item>
      <ion-label>Phone</ion-label>
      <ion-select value="0985123456" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="0985123456">0985123456</ion-select-option>
        <ion-select-option value="0987123456">0987123456</ion-select-option>
        <ion-select-option value="0978123456">0978123456</ion-select-option>
        <ion-select-option value="0912123456">0912123456</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-select value="root@aa.com" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="root@aa.com">root@aa.com</ion-select-option>
        <ion-select-option value="admin@aa.com">admin@aa.com</ion-select-option>
        <ion-select-option value="tree@aa.com">tree@aa.com</ion-select-option>
        <ion-select-option value="open@aa.com">open@aa.com</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button color="success" style="padding-left: 45%;">submit</ion-button>
  </ion-list>
</ion-content>
